{{#ons-page}}
  {{#ons-toolbar}}
    <div class="center">
      Forms
    </div>

    <div class="right">
      {{#ons-toolbar-button events=(hash click=(action (mut menu.collapsed) false))}}
        {{ons-icon icon="md-menu"}}
      {{/ons-toolbar-button}}
    </div>
  {{/ons-toolbar}}

  <div class="content">
    <p>
      <code>\{{ons-input}}</code>  should works as expected with the
      <code>update</code> attribute an action. An example use:
    </p>

{{#code-highlight lang="handlebars"}}
\{{#ons-input fakeUsername
    modifier="underbar"
    update=(action (mut fakeUsername))}}
  Username (ex. bob)
\{{/ons-input}}
{{/code-highlight}}

    <p>
      This implementation uses <em>Data Down; Actions Up</em> and does not offer
      two way binding to the <code>value</code> or <code>checked</code>
      atributes.
    </p>

    <h2>Examples:</h2>

    <div style="text-align: center; margin-top: 30px;">
      <p>
        {{#ons-input fakeUsername
            modifier="underbar"
            update=(action (mut fakeUsername))}}
          Username (ex. bob)
        {{/ons-input}}
      </p>
      <p>
        {{#ons-input fakePassword
            modifier="underbar"
            type="password"
            float=true
            update=(action (mut fakePassword))}}
          Password (ex. secret)
        {{/ons-input}}
      </p>
      <p style="margin-top: 30px;">
        {{#ons-button events=(hash click=(action "loginExample"))}}
          Sign in
        {{/ons-button}}
      </p>
    </div>

    {{#ons-list as |list|}}
      {{#list.header}}Checkboxes{{/list.header}}
      {{#list.item tappable=true}}
        <label class="left">
          {{ons-input type="checkbox" input-id="check-1"}}
        </label>
        <label for="check-1" class="center">
          Apple
        </label>
      {{/list.item}}
      {{#list.item tappable=true}}
        <label class="left">
          {{ons-input type="checkbox" input-id="check-2"}}
        </label>
        <label for="check-2" class="center">
          Banana
        </label>
      {{/list.item}}
    {{/ons-list}}

    {{#ons-list as |list|}}
      {{#list.header}}Radio buttons{{/list.header}}
      {{#list.item tappable=true}}
        <label class="left">
          {{ons-input name="color" type="radio" input-id="radio-1" checked=true}}
        </label>
        <label for="radio-1" class="center">
          Red
        </label>
      {{/list.item}}
      {{#list.item tappable=true}}
        <label class="left">
          {{ons-input name="color" type="radio" input-id="radio-2"}}
        </label>
        <label for="radio-2" class="center">
          Blue
        </label>
      {{/list.item}}
    {{/ons-list}}
  </div>
{{/ons-page}}
