{{#ons-page}}
  {{#ons-toolbar}}
    <div class="center">
      Ember bindings for Onsen UI
    </div>

    <div class="right">
      {{#ons-toolbar-button click=(action (mut menu.collapsed) false)}}
        {{ons-icon icon="md-menu"}}
      {{/ons-toolbar-button}}
    </div>
  {{/ons-toolbar}}

  <p style="text-align: center; opacity: 0.6;">
    Swipe left to open the menu!
  </p>

  <p style="text-align: center;">
    Has Ember component:
    <span class="item-implemented">
      {{ons-icon icon="md-check"}}
    </span>
  </p>

  <p style="text-align: center;">
    Has alternative in Ember:
    <span class="item-implemented">
      {{ons-icon icon="md-arrow-split"}}
    </span>
  </p>

  <p style="text-align: center;">
    Not implemented:
    <span class="item-not-implemented">
      {{ons-icon icon="md-close"}}
    </span>
  </p>

  {{feature-list features=filteredTerms linkToRoute=(action "transitionRoute")}}
{{/ons-page}}
